@CHARSET "UTF-8";

.chat_reader_layout {
	padding: 5px;
	background: #fff;
	height: 150px;
	background: #fff;
	border: solid 1px #dedede;
	margin: 0 0 10px 0;
	overflow-y: auto;
}

.chat_btn_send {
	float: right;
	font-size: 16px;
	margin: 3px 0 0 0;
	padding: 5px 7px 5px 7px !important;
	padding: 3px 2px 0 2px;
	border: solid 1px #ddd;
	background-color: #bd3939;
	color: #fff;
}

.chat_btn_send_over {
	background-color: #e51717;
}


.menu_btn_user {
	font-size: 16px;
	padding: 5px 7px 5px 7px !important;
	padding: 3px 2px 0 2px;
	border-bottom: solid 1px #ddd;
}

.menu_btn_user_over{
	background-color: #afd8da;
}