@CHARSET "UTF-8";

#right {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 218px;
	overflow: auto;
	background: red;
	background: #00CCFF;
	border: solid 3px red;
	margin: 3px;
}

#left_bottom {
	position: absolute;
	right: 230px;
	left: 0;
	bottom: 0;
	height: 260px;
}

#main {
	position: absolute;
	bottom: 260px;
	top: 0;
	left: 0;
	right: 230px;
}

/*IE6*/
html,body {
	_height: 100%;
}

html {
	_padding: 0 0 78px 230px;
	_overflow: hidden;
}

#right_ie6 {
	_position: relative;
	_height: 100%;
	_float: left;
	_margin-left: -230px;
	_padding-top: 78px;
	_width: 230px;
}

#right {
	_position: absolute;
	_top: 0;
	_height: 100%;
	_width: 100%;
}

#right_top {
	_width: 100%;
}

#main {
	_position: relative;
	_left: 0;
	_height: 100%;
	_background: yellow;
}

.chat_reader_layout {
	position: absolute;
	top: 0;
	left: 0;
	right: 160px;
	bottom: 145px;
	padding: 5px;
	background: #fff;
	border: solid 1px #dedede;
	margin: 0 0 10px 0;
	overflow-y: auto;
}

.chat_editor_layout {
	position: absolute;
	left: 0;
	right: 160px;
	bottom: 0;
}

.chat_users_layout {
	background: #fff;
	position: absolute;
	border: solid 1px #dedede;
	top: 0;
	right: 0;
	bottom: 0;
	width:145px;
}

.chat_btn_send {
	float: right;
	font-size: 16px;
	margin: 3px 0 0 0;
	padding: 5px 7px 5px 7px !important;
	padding: 3px 2px 0 2px;
	border: solid 1px #ddd;
	background-color: #bd3939;
	color: #fff;
}

.chat_btn_send_over {
	background-color: #e51717;
}

.menu_btn_user {
	font-size: 16px;
	padding: 5px 7px 5px 7px !important;
	padding: 3px 2px 0 2px;
	border-bottom: solid 1px #ddd;
}

.menu_btn_user_over {
	background-color: #afd8da;
}